<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script src="/assets/accounts.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }
    container{
      height: 300px;
      width: 600px;
    }
    nav {
      background-color: #007BFF;
      color: white;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav a {
      color: white;
      text-decoration: none;
      margin-left: 10px;
    }
    nav a:hover {
      text-decoration: underline;
    }
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90vh;
    }
    button {
        all: unset;
      padding: 15px 30px;
      margin: 15px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <nav>
    <div>Workout Tracker</div>
    <div>
      <a href="profile">Profile</a>
      <a href="register_workout">Register Workout</a>
      <a href="stats">Stats</a>
      <a href="/" id="logout">Logout</a>
    </div>
  </nav>
  <main>
    <form id="statsForm" phx-submit ="submit_workout">
      <label for="exercise">Exercise Name:</label>
      <input type="text" id="exercise" name="exercise" placeholder="Enter exercise" required>

      <button type="submit">Submit stats</button>
    </form>
    staty:
    <%= Workout.GenWorkout.get_series(String.to_atom("user_#{@user_id}"),@exercise)
            |> case  do
           %{}->[]
            user_data -> user_data
        end
         %>

    <div class="container">
    <canvas id="myChart" width="600px" height="300px"></canvas></div>
  </main>

    <script>
    
    document.getElementById('statsForm').addEventListener('submit', async (event) => {
      event.preventDefault();
      const exercise = document.getElementById('exercise').value;
      
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      const response = await fetch('http://localhost:4000/api/workout/submit_stats', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json',
      'x-csrf-token': csrfToken,},
        body: JSON.stringify({ exercise }),
      });

      if (response.ok) {
        location.reload();
      } else {
        alert('Failed to register workout.');
      }
    });
    const ctx = document.getElementById('myChart').getContext('2d');

  <%
    user_data=Workout.GenWorkout.get_series(String.to_atom("user_#{@user_id}"), @exercise)
    series_data = 
    if(Map.equal?(user_data,%{})) do
      []
    else
      user_data
              |> Enum.flat_map(fn {date, values} -> 
                  interval = 24 / (length(values)+1 )
                  Enum.with_index(values, fn value, index -> 
                    {NaiveDateTime.new!(date, ~T[00:00:00]) |> NaiveDateTime.add(trunc((index+1) * interval * 3600), :second), value}
                  end)
                end) 
    end
          
  |>IO.inspect()
 %>
<%IO.inspect(series_data) %>
    // Dane
    <%IO.inspect("dane ->") %>
    <%IO.inspect(elem(raw(Enum.map(series_data, fn {datetime, value} -> %{x: datetime, y: value} end)),1)) %>
    const data = {
      datasets: [{
        label: 'Wartości',
        data: <%= raw(Jason.encode!(Enum.map(series_data, fn {datetime, value} -> %{x: datetime, y: value} end))) %>,
        backgroundColor: 'rgba(75, 192, 192, 0.4)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 2,
        showLine: true, // Punkty bez łączących linii
        pointRadius: 5 // Rozmiar punktów
      }]
    };
    console.log(data)
    // Konfiguracja wykresu
    const config = {
      type: 'line', // Wykres punktowy
      data: data,
      options: {
        responsive: true,
        elements: {
          point: {
              hitRadius: 10 // Dodaj promień punktu, aby uniknąć błędu
         }
        },
        scales: {
          x: {
            type: 'time', // Oś X w formacie czasowym
            time: {
              unit: 'day', // Grupowanie etykiet po dniach
              displayFormats: {
                day: 'dd.MM' // Format daty na osi X
              }
            },
            title: {
              display: true,
              text: 'Data'
            },
            ticks: {
                        source: 'auto', // Automatyczne generowanie etykiet na osi X
          autoSkip: true, // Pomija niektóre etykiety, aby uniknąć nakładania
          maxRotation: 45, // Maksymalny obrót etykiet
          minRotation: 0 // Minimalny obrót etykiet
            }
          },
          y: {
            title: {
              display: true,
              text: 'Wartość'
            }
          }
        },
        plugins: {
          legend: {
            display: true,
            position: 'top'
          },
          title: {
            display: true,
            text: 'Wykres z równymi odstępami punktów w dniach'
          }
        }
      }
    };
    new Chart(ctx, config);
  </script>

</body>
</html>
